<h1> Hello from branch.html </h1>

<br><br>
<table cellpadding="40">
	<thead>  
    	<tr>
        	<th> Branch Name </th>           
            <th> List of Commits </th>            
        </tr>
    </thead>
    <tbody>        
	    <tr>
            {% if branch_info %}
                <td>{{branch_info.branch_name}}</td>
                <td>
                    {% if commit_info %}
                        {% for details in commit_info %}
                            <span>{{details.commit_message}}<br></span>
                        {% endfor %}
                    {% endif %}
                </td>
            {% elif error %}
                <td> {{error}} </td>
            {% endif %}
		</tr>	            
    </tbody>
 </table> 