<h1> Hello from index file </h1>
<form method="POST">	
	<input type="text" name="usrname" placeholder="Enter a username ">
	<input type="submit" value="Search">
	{% csrf_token %}
</form>
<br><br>

<table cellpadding="50">
	<thead>  
    	<tr>
        	<th> Username </th>
            <th> Name </th>
            <th> Location </th>
            <th> Count of public gists </th>
            <th> Count of public repos</th>
        </tr>
    </thead>
    <tbody>
	    <tr>
			<td>{{usr_info.usrnm}}</td>
			<td>{{usr_info.name}}</td>
			<td>{{usr_info.location}}</td>
			<td>{{usr_info.publicGistsCount}}</td>
			<td>{{usr_info.publicReposCount}}</td>
		</tr>	    
    </tbody>
 </table> 