<h1> Hello from repo.html </h1>

<br><br>
<table cellpadding="40">
	<thead>  
    	<tr>
        	<th> Repo Name </th>
            <th> Repo URL </th>
            <th> Repo Language </th>
            <th> List of Branches </th>            
        </tr>
    </thead>
    <tbody>        
	    <tr>
            {% if repo_info %}
                <td>{{repo_info.repo_name}}</td>
                <td>{{repo_info.repo_url}}</td>
                <td>{{repo_info.repo_language}}</td>
                <td>
                    {% if branch_info %}
                        {% for details in branch_info %}
                            <span>{{details.branch_name}}<br></span>
                        {% endfor %}
                    {% endif %}
                </td>
            {% elif error %}
                <td> {{error}} </td>
            {% endif %}
		</tr>	            
    </tbody>
 </table> 
